<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ember Checkboxes List</h1>

            <h2>Install</h2>
            <pre><span class="glyphicon glyphicon-chevron-right"></span> ember install ember-checkboxes-list</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
{{outlet}}